body.comprar-online {
  background-color: var(--neutral-color-high-claro);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
  margin: 0;
}

header {
  background-color: var(--brand-color-secondary-puro);
}

header nav a {
  color: var(--neutral-color-high-puro);
}
header nav a:hover {
  color: var(--neutral-color-high-claro);
}
header nav a:active {
  color: var(--neutral-color-high-escuro);
}

header nav a i {
  padding: var(--spacing-xxs);
}
