/* Comprar online  */
body.comprar-online {
  background-color: var(--neutral-color-high-claro);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
  margin: 0;
}

body.comprar-online header {
  background-color: var(--brand-color-secondary-puro);
}

body.comprar-online .list .list-item:first-of-type label {
  font-family: var(--font-family-fallback);
  text-transform: var(--font-titulo-size);
  font-weight: var(--font-titulo-peso);
  color: var(--feedback-color-warning-puro);
}

/* Fale Conosco */

body.fale-conosco {
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
  margin: 0;
}

body.fale-conosco header {
  background-color: var(--brand-color-primary-horta-puro);
}

body.fale-conosco .list .list-item:nth-of-type(3) {
  padding: var(--spacing-xxs) 0;
  border-bottom: none;
}

body.fale-conosco .list .list-item:nth-of-type(3) a {
  color: var(--brand-color-primary-horta-puro);
}

header nav a {
  color: var(--neutral-color-high-puro);
}
header nav a:hover {
  color: var(--neutral-color-high-claro);
}
header nav a:active {
  color: var(--neutral-color-high-escuro);
}

header nav a i {
  padding: var(--spacing-xxs);
  padding-left: 0;
}

header h1 {
  font-family: var(--font-family-fallback);
  color: var(--neutral-color-high-puro);
  text-transform: var(--font-titulo-size);
  font-weight: var(--font-titulo-peso);
  font-size: var(--font-size-md);
}

header p {
  color: var(--neutral-color-high-puro);
}
